<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule   "^/page.asp?page_id=9$"  "/index.html"  [R=301]
RewriteRule . /index.html [R=301,L]

</IfModule>

# <IfModule mod_rewrite.c>
#    Options -MultiViews
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ index.html [QSA,L]
# </IfModule>
